<link rel="stylesheet" href="<%= page.homeUrl %>/assets/styles/message.css">
<div id="x_message">
  <div id="x_startMessenger" class="msg_startButton" style="background-color: #252525;">
    <span class="msg_startButton__icon appsicon-message" style="color: rgb(255, 255, 255);"></span>
    <span class="msg_startButton__text" style="color: rgb(255, 255, 255);">ショップに質問する</span>
  </div>
  <div class="msg_messenger" id="x_baseMessage">
  </div>
</div>