<form class="mailMagazineSubscribe_form">
  <div class="x_mailMagazineSubscribe_field mailMagazineSubscribe_field">
    <input class="x_mailMagazineSubscribe_input mailMagazineSubscribe_input" type="email" id="email" maxlength="255" placeholder="info@example.com" required>
    <button class="x_mailMagazineSubscribe_submit mailMagazineSubscribe_submit" type="button">登録</button>
  </div>
  <div class="x_mailMagazineSubscribe_confirm mailMagazineSubscribe_confirm"></div>
</form>

<%#
 <form class="mailMagazineSubscribe_form">
  <div class="x_mailMagazineSubscribe_field mailMagazineSubscribe_field" style="display: none;">
    <input class="x_mailMagazineSubscribe_input mailMagazineSubscribe_input" type="email" id="email" maxlength="255" placeholder="info@example.com" required>
    <button class="x_mailMagazineSubscribe_submit mailMagazineSubscribe_submit" type="button">登録</button>
  </div>
  <div class="x_mailMagazineSubscribe_confirm mailMagazineSubscribe_confirm">確認メールを送信しました。
    メール内のリンクから登録完了してください。</div>
</form>
%>

<%#
<form class="mailMagazineSubscribe_form">
  <div class="x_mailMagazineSubscribe_field mailMagazineSubscribe_field" style="display: none;">
    <input class="x_mailMagazineSubscribe_input mailMagazineSubscribe_input" type="email" id="email" maxlength="255" placeholder="info@example.com" required>
    <button class="x_mailMagazineSubscribe_submit mailMagazineSubscribe_submit" type="button">登録</button>
  </div>
  <div class="x_mailMagazineSubscribe_confirm mailMagazineSubscribe_confirm">登録処理に失敗しました。
    時間をおいてからもう一度お試しください。</div>
</form>
%>