<div id="i18" class="clearfix">

  <div class="lang">
    <form action="" method="post" accept-charset="utf-8">
      <div class="input select required">
        <select name="data[UserLanguage][language_code]" class="x_i18nSelectBox" required="required">
          <option value="ja" selected="selected">日本語</option>
          <option value="en">English</option>
        </select>
      </div>
    </form>
  </div>

  <div class="currency">
    <form action="" method="post" accept-charset="utf-8">
      <div class="input select">
        <select name="data[UserCurrency][currency_code]" class="x_i18nSelectBox">
          <option value="JPY">JPY</option>
          <option value="USD" selected="selected">USD</option>
        </select>
      </div>
    </form>
  </div>

</div>
<!-- /#i18 -->