body {
  -webkit-font-smoothing: antialiased;
}
.blog_head_image img {
  max-width: 100%;
}
.main #about .read_more a {
  color: #666;
  font-weight: bold;
}
.main #about .social {
  margin: 40px 0 0;
  text-align: center;
  width: 100%;
}
.main #about .social > ul {
  display: inline-block;
}
.main #about .social ul li {
  float: left;
  margin-right: 15px;
}
.main #about .social ul li:last-child {
  margin-right: 0;
}
.main #about > .blog_inner {
  border-bottom: 1px solid #ddd;
  padding: 40px 0;
  position: relative;
}
.main #about > .blog_inner .blog_contents {
  height: 100px;
  overflow: hidden;
}
.main #about > .blog_inner .blog_contents h3 a {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.main #about > .blog_inner .blog_contents .read_more {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, transparent 26%);
  bottom: 10px;
  padding-top: 25px;
  position: absolute;
  width: 100%;
}
.blogListMain ul {
  list-style: none;
}
.main #about.blogListMain h2 {
  line-height: 1.5em;
  margin-bottom: 0;
  text-transform: none;
  word-wrap: break-word;
}
.main #about.blogListMain .blog_title {
  margin-bottom: 0;
}
.main #about.blogListMain .blog_publish {
  margin: 15px 0 30px;
}
.main #about.blogListMain .blog_publish .publish_date {
  font-size: 11px;
}
.paginate-wrp {
  margin-top: 50px;
}
ul.paginate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paginate li {
  background: #fff;
  border: 1px solid #ddd;
  margin: 5px;
}
.paginate li a {
  color: #8c8c8c;
  font-size: 14px;
  padding: 10px;
  display: block;
  line-height: 1;
}
.paginate .current a,
.paginate li a:hover {
  background: #f3f3f3;
  color: #8c8c8c;
}
.paginate .current a {
  font-weight: bold;
}
