<div id="itemAttention">
  <%# %>
  <div class="preOrder">
    <div class="preOrder__label">予約商品</div>
    <p><span class="preOrder__data">発送予定: 20xx年x月x日~20xx年x月x日</span></p>
  </div>

  <p class="attention salesPeriod salesPeriod--term">販売期間<br>2019年1月1日 00:00 ~ 2019年1月31日 23:59</p>
  <p class="attention salesPeriod salesPeriod--willStart">2019年1月1日 00:00 から販売</p>
  <p class="attention salesPeriod salesPeriod--finish">2019年1月31日 23:59 に販売終了</p>

  <p class="attention salesPeriod salesPeriod--text">※販売期間・内容は予告なく変更になる場合があります。</p>

  <p class="attention">※こちらの価格には消費税が含まれています。</p>
  <p class="attention">※送料は別途発生いたします。詳細は<a href="./">こちら</a></p>
</div>