<p class="bnplBanner">
  <span class="bnplBanner__line">
    <img
      src="https://static.thebase.in/img/logo/payid_logo_black.svg"
      width="53"
      height="14"
      alt="PayID"
      class="bnplBanner__logo"
    />のあと払いなら
  </span>
  <span class="bnplBanner__line">
    <span>お支払いは翌月でOK</span>
    <button class="bnplBanner__help x_bnplBannerModalTrigger">
      <i class="bnplBannerIcon bnplBannerIcon--question"></i>
    </button>
  </span>
</p>


<div
  class="bnplBannerModal"
  role="dialog"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="bnplBannerModal__mask bnplBannerModal__closeTrigger"></div>
  <div class="bnplBannerModal__content">
    <button class="bnplBannerModal__close bnplBannerModal__closeTrigger">
      <i class="bnplBannerIcon bnplBannerIcon--cross"></i>
    </button>
    <div class="bnplBannerModal__scroll bnplBannerHelpMonthly">
      <div class="bnplBannerHelpMonthly__summary">
        <img
          src="https://static.thebase.in/img/shop/payid_app_thumbnail.png"
          alt=""
          class="bnplBannerHelpMonthly__thumbnail"
        />
        <h3 class="bnplBannerHelpMonthly__title">
          <img
            src="https://static.thebase.in/img/payment/payid/atobarai_payid_monthly_logo.svg"
            alt="Pay ID 翌月あと払い"
            class="bnplBannerHelpMonthly__logo"
          />とは？
        </h3>
        <p class="bnplBannerHelpMonthly__description">
          翌月にまとめてお支払いできる<br />便利な決済方法です。
        </p>
      </div>
      <div
        class="bnplBannerHelpMonthlyContent bnplBannerHelpMonthlyContent--point"
      >
        <i
          class="bnplBannerHelpMonthlyContent__icon bnplBannerIcon bnplBannerIcon--check"
        ></i>
        <h4 class="bnplBannerHelpMonthlyContent__title">おすすめポイント</h4>
        <div class="bnplBannerHelpMonthlyContent__content">
          <p class="bnplBannerHelpMonthlyContent__text">
            ・翌月にまとめてお支払い可能
          </p>
          <p class="bnplBannerHelpMonthlyContent__text">
            ・手数料無料（口座振替の場合）
          </p>
          <p class="bnplBannerHelpMonthlyContent__text">
            ・アプリでご利用金額を確認できて安心
          </p>
        </div>
      </div>
      <div class="bnplBannerHelpMonthlyContent">
        <i
          class="bnplBannerHelpMonthlyContent__icon bnplBannerIcon bnplBannerIcon--coin"
        ></i>
        <h4 class="bnplBannerHelpMonthlyContent__title">お支払い方法</h4>
        <div class="bnplBannerHelpMonthlyContent__content">
          <p class="bnplBannerHelpMonthlyContent__text">
            コンビニ払い・口座振替（自動引き落とし）<br /><span
              class="bnplBannerHelpMonthlyContent__note"
              >※口座振替なら、手数料無料。</span
            >
          </p>
        </div>
      </div>
      <div class="bnplBannerHelpMonthlyContent">
        <i
          class="bnplBannerHelpMonthlyContent__icon bnplBannerIcon bnplBannerIcon--calendar"
        ></i>
        <h4 class="bnplBannerHelpMonthlyContent__title">ご利用の流れ</h4>
        <div class="bnplBannerHelpMonthlyContent__step">
          <i
            class="bnplBannerHelpMonthlyContent__stepicon bnplBannerIcon bnplBannerIcon--cart"
          ></i>
          <div class="bnplBannerHelpMonthlyContent__stepcontent">
            <h5 class="bnplBannerHelpMonthlyContent__steptitle">1. 商品購入</h5>
            <p class="bnplBannerHelpMonthlyContent__steptext">
              お支払い方法で「Pay ID
              あと払い」を選択して購入。口座振替をご利用の場合は、商品購入後に口座振替をお申し込みください。
            </p>
          </div>
        </div>
        <div class="bnplBannerHelpMonthlyContent__step">
          <i
            class="bnplBannerHelpMonthlyContent__stepicon bnplBannerIcon bnplBannerIcon--bag"
          ></i>
          <div class="bnplBannerHelpMonthlyContent__stepcontent">
            <h5 class="bnplBannerHelpMonthlyContent__steptitle">2. 商品発送</h5>
            <p class="bnplBannerHelpMonthlyContent__steptext">
              商品発送後、請求が確定します。
            </p>
          </div>
        </div>
        <div class="bnplBannerHelpMonthlyContent__step">
          <i
            class="bnplBannerHelpMonthlyContent__stepicon bnplBannerIcon bnplBannerIcon--coin"
          ></i>
          <div class="bnplBannerHelpMonthlyContent__stepcontent">
            <h5 class="bnplBannerHelpMonthlyContent__steptitle">3. お支払い</h5>
            <p class="bnplBannerHelpMonthlyContent__steptext">
              請求が確定したら、メールで金額をお知らせします。口座振替、コンビニいずれかの方法で、期日までにお支払いください。
            </p>
          </div>
        </div>
        <p class="bnplBannerHelpMonthlyContent__detail">
          <span>よりくわしいお支払い方法は、以下をご確認ください。</span> <br />
          <a
            href="https://payid.jp/blog/atobarai-banktransfer"
            target="_blank"
            rel="noopener"
            class="bnplBannerHelpMonthlyContent__link"
            >口座振替でお支払い</a
          >
          <span>・</span>
          <a
            href="https://payid.jp/blog/atobarai-cvs"
            target="_blank"
            rel="noopener"
            class="bnplBannerHelpMonthlyContent__link"
            >コンビニでお支払い</a
          >
        </p>
      </div>
      <div class="bnplBannerHelpMonthlyAttention">
        <h4 class="bnplBannerHelpMonthlyAttention__title">注意事項</h4>
        <p class="bnplBannerHelpMonthlyAttention__text">
          購入時に審査があります。審査の結果によっては、「Pay ID
          あと払い」が利用できない場合があります。
        </p>
        <p class="bnplBannerHelpMonthlyAttention__text">
          購入金額には上限があり、55,000円（税込）までご利用いただけます。
        </p>
        <p class="bnplBannerHelpMonthlyAttention__text">
          コンビニでのお支払いの場合は、月に1回手数料350円がかかります。
        </p>
        <p class="bnplBannerHelpMonthlyAttention__text">
          口座振替の手続きは、一度購入した後にアプリから設定できます。
        </p>
        <p class="bnplBannerHelpMonthlyAttention__text">
          すでに確定している請求は、支払い方法の変更が反映されません。
        </p>
        <p class="bnplBannerHelpMonthlyAttention__text">
          当月末日までに商品が発送されたお取引が、翌月請求の対象となります。
        </p>
      </div>
    </div>
  </div>
</div>


<script>
  (() => {
    window.addEventListener('DOMContentLoaded', (event) => {
      const open = document.querySelector('.x_bnplBannerModalTrigger');
      const closes = document.querySelectorAll(
        '.bnplBannerModal__closeTrigger'
      );
      const modal = document.querySelector('.bnplBannerModal');
      if (!open || !modal || !close) {
        return;
      }

      open.addEventListener('click', (e) => {
        modal.style.display = 'flex';
      });

      for (const close of closes) {
        close.addEventListener('click', (e) => {
          modal.style.display = 'none';
        });
      }
    });
  })();
</script>



<style> .bnplBannerModal{align-items:center;bottom:0;display:flex;justify-content:center;left:0;padding:0 20px;position:fixed;right:0;top:0;z-index:10000}.bnplBannerModal[aria-hidden=true]{display:none}.bnplBannerModal__mask{background:rgba(68,68,68,.5);bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:-1}.bnplBannerModal__content{background:#fff;border-radius:16px;box-shadow:0 0 24px 0 rgba(0,0,0,.16);max-width:778px;overflow:hidden;position:relative;width:100%}.bnplBannerModal__close{appearance:none;background:#edf0f0;border:none;border-radius:50%;color:#c2c8d2;cursor:pointer;font-size:14px;height:42px;line-height:0;outline:0;padding:0;position:absolute;right:16px;top:24px;width:42px;z-index:2}@media screen and (min-width:768px){.bnplBannerModal__close{right:24px;top:24px}}.bnplBannerModal__scroll{max-height:80vh;max-height:calc(100svh - 154px);overflow-x:hidden;overflow-y:auto}@media screen and (min-width:768px){.bnplBannerModal__scroll{max-height:80vh;max-height:calc(100svh - 284px)}}.bnplBannerHelpInstallment{color:#000435;display:grid;gap:24px;padding:24px}@media screen and (min-width:768px){.bnplBannerHelpInstallment{padding:32px}}.bnplBannerHelpInstallment__logo{height:24px;margin:0 auto;width:89px}.bnplBannerHelpInstallment__description{display:grid;gap:16px}.bnplBannerHelpInstallment__aspect{height:0;position:relative;width:100%}.bnplBannerHelpInstallment__aspect--example{padding-top:53.9267%}@media screen and (min-width:768px){.bnplBannerHelpInstallment__aspect--example{padding-top:42.38683%}}.bnplBannerHelpInstallment__aspect--permission{padding-top:61.7801%}@media screen and (min-width:768px){.bnplBannerHelpInstallment__aspect--permission{padding-top:47.11934%}}.bnplBannerHelpInstallment__image{height:100%;left:0;object-fit:contain;position:absolute;top:0;width:100%}.bnplBannerHelpInstallment__install{display:flex;margin:0 -24px}.bnplBannerHelpInstallment__applink:nth-child(odd){margin:0 5px 0 auto}.bnplBannerHelpInstallment__applink:nth-child(2n){margin:0 auto 0 5px}.bnplBannerHelpInstallment__appimage{display:block;height:42px;width:auto}@media screen and (max-width:374.98px){.bnplBannerHelpInstallment__appimage{height:36px}}@media screen and (max-width:319.98px){.bnplBannerHelpInstallment__appimage{height:32px}}.bnplBannerHelpInstallment__note{color:#8c95a3;font-size:12px;line-height:17px;padding-left:22px;text-indent:-22px}@media screen and (min-width:768px){.bnplBannerHelpInstallment__note{color:#212129}}.bnplBannerHelpInstallment__note:before{align-items:center;content:"※";display:inline-flex;font-size:14px;height:18px;justify-content:center;line-height:18px;margin-right:4px;text-indent:0;width:18px}.bnplBannerHelpInstallment__remarks{border-top:1px solid #c2c8d2;display:grid;font-size:12px;gap:16px;justify-content:center;line-height:1.6;margin-top:16px;padding-top:16px;text-align:center}@media screen and (min-width:768px){.bnplBannerHelpInstallment__remarks{display:flex;justify-content:space-between}}.bnplBannerHelpInstallment__remarks a{color:inherit;text-decoration:underline}.bnplBannerHelpMonthly{color:#212129;display:grid;gap:32px;padding:16px}@media screen and (min-width:768px){.bnplBannerHelpMonthly{padding:32px}}.bnplBannerHelpMonthly__summary{color:#000435;padding-top:8px;text-align:center}.bnplBannerHelpMonthly__thumbnail{height:159px;width:auto}.bnplBannerHelpMonthly__title{font-size:15px;font-weight:700;line-height:24px;margin-top:24px}.bnplBannerHelpMonthly__logo{height:26px;margin-right:8px;vertical-align:bottom;width:188px}.bnplBannerHelpMonthly__description{font-size:15px;font-weight:700;line-height:26px;margin-top:8px}.bnplBannerHelpMonthlyContent{line-height:1.6;text-align:center}@media screen and (min-width:768px){.bnplBannerHelpMonthlyContent--point{align-items:center;display:flex;flex-direction:column}}.bnplBannerHelpMonthlyContent__icon{align-items:center;background-color:#ceefeb;border-radius:50%;color:#00b8c3;display:inline-flex;font-size:28px;height:56px;justify-content:center;width:56px}.bnplBannerHelpMonthlyContent__title{font-size:16px;font-weight:700;line-height:1.4;margin-top:16px}.bnplBannerHelpMonthlyContent__title+.bnplBannerHelpMonthlyContent__content{margin-top:12px}.bnplBannerHelpMonthlyContent--point .bnplBannerHelpMonthlyContent__content{line-height:2.1}@media screen and (min-width:768px){.bnplBannerHelpMonthlyContent--point .bnplBannerHelpMonthlyContent__content{text-align:left}}.bnplBannerHelpMonthlyContent__text{font-size:14px}.bnplBannerHelpMonthlyContent__note{color:#8c95a3}.bnplBannerHelpMonthlyContent__step{align-items:center;display:flex;margin-top:16px}.bnplBannerHelpMonthlyContent__stepicon{color:#c2c8d2;flex:0 0 68px;font-size:36px;justify-self:flex-start;padding-right:12px}.bnplBannerHelpMonthlyContent__stepcontent{flex-grow:1;text-align:left}.bnplBannerHelpMonthlyContent__steptitle{font-size:14px;font-weight:700}.bnplBannerHelpMonthlyContent__steptext{font-size:13px;margin-top:4px}.bnplBannerHelpMonthlyContent__detail{font-size:13px;margin:16px -16px 0}.bnplBannerHelpMonthlyContent__link{color:#03a9b1;text-decoration:none}.bnplBannerHelpMonthlyAttention{background-color:#edf0f0;border-radius:12px;line-height:1.6;padding:20px 12px;text-align:left}.bnplBannerHelpMonthlyAttention__title{font-size:16px;font-weight:700;line-height:1.4;margin-bottom:16px;text-align:center}.bnplBannerHelpMonthlyAttention__text{font-size:13px;margin-left:20px}.bnplBannerHelpMonthlyAttention__text:before{content:"・";display:inline-block;margin-left:-20px;text-align:center;width:20px} </style>

<style> @font-face{font-family:shopicon;font-style:normal;font-weight:400;src:url(https://static.thebase.in/font/v1/shopicon.eot?md4x76);src:url(https://static.thebase.in/font/v1/shopicon.eot?md4x76#iefix) format("embedded-opentype"),url(https://static.thebase.in/font/v1/shopicon.ttf?md4x76) format("truetype"),url(https://static.thebase.in/font/v1/shopicon.woff?md4x76) format("woff"),url(https://static.thebase.in/font/v1/shopicon.svg?md4x76#shopicon) format("svg")}.bnplBanner{background:#f7f7f7;color:#000;font-size:0;line-height:1.5;padding:8px 12px}.bnplBanner__line{align-items:center;display:inline-flex;font-size:12px;vertical-align:middle}.bnplBanner__line>b{font-size:14px;font-weight:700}.bnplBanner__logo{margin-right:2px}.bnplBanner__help{appearance:none;background:none;border:none;color:inherit;cursor:pointer;font-size:16px;line-height:0;margin:0 0 0 4px;outline:0;padding:0}.bnplBannerIcon{font-family:shopicon;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:400;line-height:1;speak:none;text-transform:none}.bnplBannerIcon--question:before{content:"\e91c"}.bnplBannerIcon--cross:before{content:"\e902"}.bnplBannerIcon--check:before{content:"\e90b"}.bnplBannerIcon--coin:before{content:"\e90c"}.bnplBannerIcon--calendar:before{content:"\e909"}.bnplBannerIcon--cart:before{content:"\e900"}.bnplBannerIcon--bag:before{content:"\e931"} </style>