<div class="c-custom p-item__custom is-ev" style="">
  <div id="appsItemDetailCustom" class="appsItemDetailCustom_rwtW4uzk">
    <div id="appsItemDetailCustomTag">
      <p class="appsItemDetailCustomTag_heading">ここに商品説明カスタムAppの見出しが入ります</p>
      <p class="appsItemDetailCustomTag_description">ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。</p>
      <%#
      <div class="appsItemDetailCustomTag_youtube">
        <iframe width="200" height="113" src="https://www.youtube.com/embed/8Xx16jPkKF8?feature=oembed&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="BASEを1分で体感しよう！"></iframe>
      </div>
      %>
      <img class="appsItemDetailCustomTag_image" src="https://baseec-img-mng.akamaized.net/apps/item_layout/images/origin/67634833/img_e9f483cacc9f601dbf6411a354639f6d.jpg?imformat=generic&amp;q=90&amp;im=Resize,width=900,type=normal" alt="">
      <p class="appsItemDetailCustomTag_heading">ここに商品説明カスタムAppの見出しが入ります</p>
      <p class="appsItemDetailCustomTag_description">ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。ここに商品説明カスタムAppの説明が入ります。</p>
    </div>
  </div>
</div>
<!-- /.c-custom -->