@use "global" as *;

.c-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  margin-bottom: 1em;
  font-size: sp-size(45);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.1em;
  @include responsive(md) {
    font-size: pc-size(30);
  }

  .main {
    position: relative;
    @include responsive(md) {
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: calc(100% + 20 / 30 * 1em);
      bottom: 0;
      margin-block: auto;
      width: 1em;
      height: 2px;
      background-color: currentColor;
      @include responsive(md) {
      }
    }
  }

  .sub {
    opacity: 0.5;
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 0.15em;
    @include responsive(md) {
    }
  }
}
