@use "global" as *;

.c-newsletter {
  @include responsive(md) {
  }

  .mailMagazineSubscribe_form {
    @include responsive(md) {
    }
  }

  .mailMagazineSubscribe_field {
    contain: paint;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #f1f1f1;
    border-radius: 100vmax;
    transition: $transition;
    transition-property: box-shadow;
    @include responsive(md) {
    }

    &:focus-within {
      box-shadow: 0 0 0 1px currentColor;
    }

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 0 1px currentColor;
      }
    }
  }

  .mailMagazineSubscribe_input {
    z-index: 5;
    display: block;
    width: auto;
    min-width: 0;
    min-height: 45px;
    padding: 0.5em 0 0.5em 1em;
    margin: 0;
    font-size: clamp(16px, vw-size-sp(32), 18px);
    line-height: 1.5;
    color: #000;
    background-color: #f1f1f1;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: none;
    @include responsive(md) {
      padding: 1em 0 1em 1.5em;
      font-size: 12px;
    }
  }

  .mailMagazineSubscribe_submit {
    --aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1;
    z-index: 1;
    display: block;
    width: min(vw-size-sp(90), 45px);
    height: 100%;
    margin-left: auto;
    font-size: 0;
    background-color: currentColor;
    mask: url("@assets/svg/icon-send.svg?inline") no-repeat center center / clamp(16px, vw-size-sp(32), 18px);
    @include responsive(md) {
      width: 45px;
      mask-size: 12px;
    }

    @media (any-hover: hover) {
      position: relative;
      transition: $transition;
      transition-property: scale;

      &:hover {
        scale: 1.4;
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.1;
    }
  }

  .mailMagazineSubscribe_confirm {
    margin-top: sp-size(18);
    font-size: sp-size(24);
    line-height: 1.6;
    @include responsive(md) {
      margin-top: pc-size(18);
      font-size: pc-size(12);
    }

    &:empty {
      display: none;
    }
  }
}

.c-newsletter__caption {
  @include responsive(md) {
  }
}

.c-newsletter__description {
  margin-bottom: sp-size(18);
  font-size: sp-size(24);
  line-height: 1.6;
  @include responsive(md) {
    margin-bottom: pc-size(18);
    font-size: pc-size(10);
  }
}
