@use "global" as *;

.c-payment {
  @include responsive(md) {
  }
}

.c-payment__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  @include responsive(md) {
  }
}

.c-payment__item {
  padding: 0.5em 1em;
  font-size: pc-size(10);
  font-weight: 600;
  border: 1px solid;
  border-radius: 100vmax;
  @include responsive(md) {
  }
}

.c-payment__notes {
  margin-top: 2em;
  line-height: 1.6;
  @include responsive(md) {
    font-size: pc-size(10);
  }
}
