<div class="p-lnav">
  <ul class="p-lnav__inner u-frame--wide">
    <li class="p-lnav__item"><a href="<%= host %>/category/">MEN</a></li>
    <li class="p-lnav__item"><a href="<%= host %>/category/">WOMEN</a></li>
    <li class="p-lnav__item"><a href="<%= host %>/category/">KIDS</a></li>
  </ul>
  <!-- /.p-lnav__inner -->
</div>
<!-- /.p-lnav -->