<a href="<%= host %>/">
  <img class="logoImage" src="<%= host %>/src/assets/images/logo.png" alt="<%= siteName %>">
  <!-- <span class="logoText" style="color:#000">ABCDEFGHIJKLMNABCDEFGHIJKLMNABCDEFGHIJKLMNABCDEFGHIJKLMNABCDEFGHIJKLMNABCDEFGHIJKLMNABCDEFGHIJKLMN</span> -->
  <!-- <span class="logoText" style="color:#000">FROMO</span> -->
</a>