<div class="p-top">
  <%- include(`_kv.ejs`, {page: page}) %>
  <%- include(`_blog_fixed.ejs`, {page: page}) %>
  <div class="p-top__contents">
    <%- include(`_items.ejs`, {page: page}) %>
    <%- include(`${root}/src/partials/_categories.ejs`, {page: page}) %>
  </div>
  <!-- /.p-top__contents -->
</div>
<!-- /.p-top -->