<div class="p-top">
  <%- include(`_slide.ejs`, {page: page}) %>
  <%- include(`_blog_fixed.ejs`, {page: page}) %>
  <div class="p-top__contents">
    <%- include(`_items.ejs`, {page: page}) %>
  </div>
  <!-- /.p-top__contents -->
</div>
<!-- /.p-top -->