@use "sass:string";
@use "global" as *;

.l-footer {
  @include responsive(md) {
  }
}

.l-footer__inner {
  @include responsive(md) {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: pc-size(90);
    padding-block: pc-size(90);
  }
}

.l-footer__cols {
  @include responsive(md) {
    display: flex;
    gap: pc-size(39);
  }
}

.l-footer__unit {
  @include responsive(md) {
  }

  &.shopping {
    width: 100%;
  }

  &.menu {
    flex-shrink: 0;
    min-width: min-content;
    max-width: pc-size(150);
  }

  &.others {
    flex-shrink: 0;
    min-width: min-content;
    max-width: pc-size(200);
  }

  &.payment {
    flex-shrink: 0;
    max-width: pc-size(255);
  }

  &.shipping {
    flex-grow: 1;
    max-width: string.unquote("calc(100% / 3)");
  }

  &.newsletter {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: pc-size(240);
    max-width: pc-size(300);
  }
}

.l-footer__caption {
  margin-bottom: 1.5em;
  font-weight: 700;
  @include responsive(md) {
    font-size: pc-size(15);
  }
}

.l-footer__category {
  @include responsive(md) {
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
    line-height: 1.6;
    @include responsive(md) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: pc-size(60) pc-size(30);
    }

    > li {
      @include responsive(md) {
        font-size: pc-size(12);
      }

      > a {
        display: block;
        padding: 1em 0.5em;
        @include responsive(md) {
          font-weight: 500;
          border-bottom: 1px solid;

          @media (any-hover: hover) {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 10;
              width: 100%;
              height: 1px;
              background-color: currentColor;
              transition: $transition;
              transition-property: opacity;
              opacity: 0;
            }

            &:hover {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 0.75em;
        margin-top: 1.5em;
        padding-inline: 0.5em;
        @include responsive(md) {
        }

        a {
          @include responsive(md) {
            @media (any-hover: hover) {
              transition: $transition;
              transition-property: opacity;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

.l-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  line-height: 1.6;
  @include responsive(md) {
    font-size: pc-size(12);
  }

  a {
    @include responsive(md) {
      @media (any-hover: hover) {
        transition: $transition;
        transition-property: opacity;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.l-footer__bottom {
  display: flex;
  flex-direction: column;
  row-gap: sp-size(90);
  @include responsive(md) {
    flex-direction: row;
    align-items: center;
    column-gap: pc-size(36);
    row-gap: 0;
    padding-block: pc-size(30);
  }
}

.l-footer__sns {
  @include responsive(md) {
    order: 2;
    flex-shrink: 0;
  }
}

.l-footer__translation {
  @include responsive(md) {
    order: 3;
    flex-shrink: 0;
  }
}

.l-footer__copyright {
  opacity: 0.6;
  text-align: center;
  font-size: sp-size(24);
  line-height: 1.5;
  @include responsive(md) {
    order: 1;
    margin-right: auto;
    text-align: left;
    font-size: pc-size(12);

    @media (any-hover: hover) {
      transition: $transition;
      transition-property: opacity;
      &:hover {
        opacity: 1;
      }
    }
  }
}
