@use "global" as *;

.p-community {
  margin-block: min(vw-size-sp(60), 60px * 0.75);
  @include responsive(md) {
    margin-block: vw-size-pc(60);
  }
  @include responsive(xxl) {
    margin-block: 60px;
  }

  .communityMain {
    margin: 0;
    padding: 0;
    width: auto;
    padding: 0;
    color: currentColor;
    background: none;
    @include responsive(md) {
    }
    @include responsive(xxl) {
    }

    p {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .communityNotExists {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .communityTitle {
      text-align: left;
      font-size: clamp(10px, vw-size-sp(54), 30px);
      font-weight: 700;
      letter-spacing: -0.03em;
      line-height: 1.4;
      @include responsive(md) {
        font-size: vw-size-pc(36);
      }
      @include responsive(xxl) {
        font-size: 36px;
      }
    }

    .communityContent {
      display: block;
      margin-top: min(vw-size-sp(30), 30px);
      padding: 0;
      border: none;
      border-radius: 0;
      @include responsive(md) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: flex-start;
        column-gap: vw-size-pc(45);
        margin-top: vw-size-pc(30);
      }
      @include responsive(xxl) {
        column-gap: 45px;
        margin-top: 30px;
      }
    }

    .communityOverview {
      width: auto;
      font-size: clamp(10px, vw-size-sp(24), 15px);
      line-height: 2;
      @include responsive(md) {
        grid-column: 1/3;
        font-size: vw-size-pc(15);
      }
      @include responsive(xxl) {
        font-size: 15px;
      }
    }

    .communityNav {
      width: auto;
      margin-top: min(vw-size-sp(45), 45px);
      margin-left: 0;
      @include responsive(md) {
        grid-column: 3;
        min-width: 0;
        position: sticky;
        top: calc(var(--header-height) * 1.5);
        margin-top: 0;
      }
      @include responsive(xxl) {
      }
    }

    .communityPrice {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      h3 {
        font-size: clamp(10px, vw-size-sp(30), 18px);
        font-weight: 600;
        @include responsive(md) {
          font-size: vw-size-pc(18);
        }
        @include responsive(xxl) {
          font-size: 18px;
        }
      }

      p {
        margin-block: 0.25em 0.75em;
        font-size: clamp(10px, vw-size-sp(45), 30px);
        @include responsive(md) {
          font-size: vw-size-pc(36);
        }
        @include responsive(xxl) {
          font-size: 36px;
        }
      }
    }

    .communityRegister {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      p {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: clamp(10px, vw-size-sp(24), 15px);
        line-height: 1.6;
        @include responsive(md) {
          font-size: vw-size-pc(12);
        }
        @include responsive(xxl) {
          font-size: 12px;
        }
      }
    }

    .communityButtonPayid {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      &__pay {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      &__icon {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      &__text {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      &__signin {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }

        p {
          @include responsive(md) {
          }
          @include responsive(xxl) {
          }
        }
      }

      &__signinLink {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      &__pay {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }
    }

    .communityButton {
      position: relative;
      z-index: 1;
      font-weight: 600;
      letter-spacing: 0.1em;
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      &__purchase {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      &__guest {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      .communityButtonPayid__text {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      @media (any-hover: hover) {
        transition: $transition;
        transition-property: opacity;
        &:hover {
          opacity: 0.75;
        }
      }
    }

    .communityTerm {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      a {
        color: currentColor;
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }

        @media (any-hover: hover) {
          transition: $transition;
          transition-property: opacity;
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }

    .communityTextNotice {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .communityLogout {
      a {
        text-decoration: underline;
        @media (any-hover: hover) {
          transition: opacity $transition;
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }

    .payidLogoutText {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      a {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }
    }

    .communitySignin {
      padding: min(vw-size-sp(36), 30px);
      border-color: #eee;
      border-radius: 5px;
      @include responsive(md) {
        padding: vw-size-pc(30);
      }
      @include responsive(xxl) {
        padding: 30px;
      }

      p {
        margin: 0 0 1.5em;
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }
    }

    .limited {
      margin-block: min(vw-size-sp(90), 45px);
      @include responsive(md) {
        margin-block: vw-size-pc(90);
      }
      @include responsive(xxl) {
        margin-block: 90px;
      }
    }

    .communityUrlHeader,
    .communityItemHeader {
      margin: 0 0 0.75em;
      font-size: clamp(10px, vw-size-sp(45), 30px);
      font-weight: 700;
      letter-spacing: -0.03em;
      line-height: 1.4;
      @include responsive(md) {
        margin-bottom: vw-size-pc(30);
        font-size: vw-size-pc(36);
      }
      @include responsive(xxl) {
        margin-bottom: 30px;
        font-size: 36px;
      }
    }

    #productsLimitedItem {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    #limitedItem {
      width: auto;
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .communityItems {
      display: grid;
      grid-template-columns: repeat(var(--items-col-sp, 2), minmax(0, 1fr));
      gap: min(vw-size-sp(90), 45px) vw-size-sp(18);
      @include responsive(md) {
        grid-template-columns: repeat(var(--items-col-pc, 3), minmax(0, 1fr));
        // gap: vw-size-pc(75) vw-size-pc(45);
        gap: vw-size-pc(75) max(calc(#{vw-size-pc(60)} - #{vw-size-pc(15)} * (var(--items-col-pc, 3) - 2)), vw-size-pc(15));
      }
      @include responsive(xxl) {
        // gap: 75px 45px;
        gap: 75px max(calc(60px - 15px * (var(--items-col-pc, 3) - 2)), 15px);
      }

      .communityItem {
        container-type: inline-size;
        @include responsive(md) {
        }

        @include responsive(xxl) {
        }

        &:nth-child(n) {
          margin-left: 0;
        }

        a {
          display: block;
          @include responsive(md) {
          }
          @include responsive(xxl) {
          }

          @media (any-hover: hover) {
            .communityImageResize {
              transition: transform 0.65s $ease-custom;
            }

            &:hover {
              .communityImageResize {
                transform: scale(1.05);
              }
            }
          }
        }

        .communityItemMeta {
          margin-top: min(4cqi, 15px);
          // margin-top: min(vw-size-sp(18), 18px);
          padding-inline: 3px;
          @include responsive(md) {
            // margin-top: vw-size-pc(18);
          }
          @include responsive(xxl) {
            // margin-top: 18px;
          }
        }

        .communityItemMetaSub {
          display: flex;
          flex-wrap: wrap;
          gap: min(1.5cqi, 6px);
          margin-top: min(5cqi, 18px);
          // gap: 6px;
          // margin-top: min(vw-size-sp(18), 18px);
          margin-bottom: 0;
          padding-inline: 3px;
          text-align: center;
          @include responsive(md) {
            margin-top: min(3.5cqi, 12px);
            // margin-top: vw-size-pc(18);
            // padding-inline: 0;
          }
          @include responsive(xxl) {
            // margin-top: 18px;
          }
        }

        .communityLabelImage {
          top: 0;
          left: 0;
          width: clamp(36px, 16cqi, 60px);
          // width: min(vw-size-sp(75), 60px);
          height: auto;
          @include responsive(md) {
            // width: vw-size-pc(60);
          }
          @include responsive(xxl) {
            // width: 60px;
          }
        }

        .communityImageContainer {
          overflow: hidden;
          width: auto;
          height: auto;
          border-radius: var(--radius);
          @include responsive(md) {
          }
          @include responsive(xxl) {
          }

          @media (any-hover: hover) {
          }

          .communityImageResize {
            width: var(--thumbnail-trim-size, auto);
            aspect-ratio: var(--thumbnail-aspect-ratio, auto);
            object-fit: var(--thumbnail-trim-fit, contain);
            @include responsive(md) {
            }
            @include responsive(xxl) {
            }
          }
        }

        .communityItemTitle {
          overflow: visible;
          width: auto;
          max-height: 100%;
          margin-top: 0;
          margin-bottom: min(2cqi, 9px);
          font-size: clamp(10px, 7cqi, 18px);
          // margin-bottom: min(#{vw-size-sp(9)}, 9px);
          // font-size: clamp(10px, #{vw-size-sp(24)}, 18px);
          font-weight: 500;
          line-height: 1.5;
          @include responsive(md) {
            margin-bottom: min(2cqi, 6px);
            font-size: clamp(13px, 4cqi, 18px);
            // margin-bottom: vw-size-pc(9);
            // font-size: vw-size-pc(15);
          }
          @include responsive(xxl) {
            // margin-bottom: 9px;
            // font-size: 15px;
          }
        }

        .communityItemPrice {
          display: block;
          font-size: clamp(12px, 7cqi, 18px);
          font-weight: 600;
          // font-size: clamp(10px, vw-size-sp(28), 15px);
          letter-spacing: -0.03em;
          line-height: 1.5;
          @include responsive(md) {
            font-size: clamp(13px, 4.25cqi, 18px);
            // font-size: vw-size-pc(15);
          }
          @include responsive(xxl) {
            // font-size: 15px;
          }

          &.discount {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 0.5em;
            color: var(--sale-color, #{$red});
            @include responsive(md) {
              // font-size: vw-size-pc(15);
            }
            @include responsive(xxl) {
              // font-size: 15px;
            }

            .discount {
              order: 10;
              flex-shrink: 0;
              padding: 0;
              width: fit-content;
              margin-right: 0;
              font-size: 0.66em;
              // font-size: clamp(9px, vw-size-sp(18), 12px);
              color: currentColor;
              background: none;
              border-radius: 0;
              @include responsive(md) {
                // font-size: max(vw-size-pc(10), 8px);
              }
              @include responsive(xxl) {
                // font-size: 10px;
              }
            }
          }

          &.soldOut {
            display: none;
            text-decoration: none;
          }
        }

        .communityItemLabel {
          margin-top: 0.15em;
          // margin-top: vw-size-sp(3);
          padding: 0.5em 0.75em;
          font-size: clamp(8px, 5cqi, 12px);
          // font-size: clamp(9px, vw-size-sp(18), 12px);
          font-weight: 500;
          letter-spacing: 0.015em;
          color: currentColor;
          background: none !important;
          border-radius: 5px;
          @include responsive(md) {
            // margin-top: vw-size-pc(3);
            font-size: clamp(8px, 2.8cqi, 10px);
            // font-size: max(vw-size-pc(10), 8px);
          }

          @include responsive(xxl) {
            // margin-top: 3px;
            // font-size: 10px;
          }

          &.soldOutText {
            color: #fff !important;
            background: #555 !important;
            @include responsive(md) {
            }
            @include responsive(xxl) {
            }
          }
        }

        .communityItemLabelBlock {
          position: relative;
          z-index: 1;
          display: block;
          width: fit-content;
          max-width: 100%;
          padding: 0.5em 0.75em;
          font-size: clamp(8px, 5cqi, 12px);
          font-weight: 500;
          // font-size: clamp(8px, vw-size-sp(18), 12px);
          color: currentColor;
          background: none !important;
          border-radius: 3px;
          @include responsive(md) {
            font-size: clamp(8px, 2.8cqi, 10px);
            // font-size: max(vw-size-pc(10), 9px);
          }

          @include responsive(xxl) {
            // font-size: 10px;
          }

          &::before {
            content: "";
            opacity: 0.1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            background: currentColor;
          }
        }
      }
    }

    .communityUrlHeader {
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .limited {
      p {
        margin-top: 1em;
        font-size: clamp(12px, vw-size-sp(24), 15px);
        line-height: 1.5;
        @include responsive(md) {
          font-size: vw-size-pc(15);
        }
        @include responsive(xxl) {
          font-size: 15px;
        }
      }
    }

    #limitedUrl {
      width: auto;
      p {
        @include responsive(md) {
        }
      }
    }

    #productsLimitedUrl {
      display: flex;
      flex-direction: column;
      row-gap: vw-size-sp(18);
      margin-top: min(vw-size-sp(36), 30px);
      @include responsive(md) {
        row-gap: vw-size-pc(18);
        margin-top: vw-size-pc(30);
      }
      @include responsive(xxl) {
        row-gap: 18px;
        margin-top: 30px;
      }

      .urlBox {
        width: 100%;
        margin-bottom: 0;
        padding: min(vw-size-sp(30), 21px);
        background-color: transparent;
        border-color: currentColor;
        border-radius: 10px;
        @include responsive(md) {
          padding: vw-size-pc(30);
        }
        @include responsive(xxl) {
          padding: 30px;
        }

        &:nth-child(n) {
          margin-left: 0;
        }

        .url {
          contain: paint;
          position: relative;
          z-index: 1;
          margin-top: 0.75em;
          padding: 1em;
          font-size: clamp(12px, vw-size-sp(24), 15px);
          line-height: 1.5;
          border-radius: 5px;
          @include responsive(md) {
            margin-top: 1em;
            font-size: vw-size-pc(12);
          }
          @include responsive(xxl) {
            font-size: 12px;
          }

          &::before {
            content: "";
            opacity: 0.1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            background: currentColor;
          }

          a {
            word-break: break-all;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            max-width: 100%;
            @media (any-hover: hover) {
              border-bottom: 1px solid transparent;
              transition: $transition;
              transition-property: opacity, border-bottom-color;
              &:hover {
                opacity: 0.75;
                border-bottom-color: currentColor;
              }
            }
          }
        }

        .title {
          font-size: clamp(12px, vw-size-sp(24), 15px);
          font-weight: 600;
          @include responsive(md) {
            font-size: vw-size-pc(15);
          }
          @include responsive(xxl) {
            font-size: 15px;
          }
        }
      }
    }

    .openLeaveModal {
      margin: 30px 0;
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      a {
        @media (any-hover: hover) {
          transition: opacity $transition;
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }

    .communityModalTextNotice {
      margin: vw-size-sp(90) 0 0;
      text-align: center;
      font-size: clamp(10px, vw-size-sp(24), 12px);
      color: currentColor;
      @include responsive(md) {
        margin-top: vw-size-pc(45);
        font-size: vw-size-pc(12);
      }
      @include responsive(xxl) {
        margin-top: 45px;
        font-size: 12px;
      }
    }

    .communityOverlay {
      flex-direction: column;
      height: 100vh;
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }
    }

    .communityModalLogout {
      color: #000;
      @include responsive(md) {
      }
      @include responsive(xxl) {
      }

      .communityModal {
        overflow-y: overlay;
        overscroll-behavior: contain;
        max-width: 90%;
        max-height: 90%;
        padding: vw-size-sp(60) vw-size-sp(60);
        @include responsive(md) {
          width: auto;
          max-width: 600px;
          padding: vw-size-pc(60);
        }
        @include responsive(xxl) {
          padding: 60px;
        }
      }

      .communityModalHeader {
        font-size: vw-size-sp(36);
        font-weight: 500;
        padding-bottom: vw-size-sp(24);
        @include responsive(md) {
          font-size: vw-size-pc(24);
          padding-bottom: vw-size-pc(24);
        }
        @include responsive(xxl) {
          font-size: 24px;
          padding-bottom: 24px;
        }
      }

      .communityModalClose {
        top: 0;
        right: 0;
        display: block;
        width: 45px;
        height: 45px;
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10;
          display: block;
          width: 15px;
          height: 1px;
          margin: auto;
          background: #000;
        }

        &::before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .communityModalContent {
        @include responsive(md) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        @include responsive(xxl) {
        }
      }

      .communityModalText {
        margin-top: vw-size-sp(45);
        margin-bottom: vw-size-sp(30);
        font-size: clamp(12px, vw-size-sp(28), 15px);
        line-height: 1.6;
        @include responsive(md) {
          text-align: center;
          margin-top: vw-size-pc(15);
          margin-bottom: 0;
          font-size: vw-size-pc(15);
        }
        @include responsive(xxl) {
          margin-top: 15px;
          font-size: 15px;
        }
      }

      .communityModalTextNotice {
        text-align: left;
        margin-top: vw-size-sp(30);
        margin-bottom: vw-size-sp(30);
        font-size: clamp(12px, vw-size-sp(24), 15px);
        line-height: 1.6;
        @include responsive(md) {
          text-align: center;
          margin-top: vw-size-pc(30);
          margin-bottom: vw-size-pc(30);
          font-size: vw-size-pc(12);
        }
        @include responsive(xxl) {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 12px;
        }
      }

      .communityModalTable {
        @include responsive(md) {
          min-width: 60%;
          max-width: 100%;
        }
        @include responsive(xxl) {
        }

        &__Title {
          font-size: clamp(12px, vw-size-sp(24), 15px);
          @include responsive(md) {
            font-size: vw-size-pc(12);
          }
          @include responsive(xxl) {
            font-size: 12px;
          }
        }

        &__Body {
          @include responsive(md) {
          }
          @include responsive(xxl) {
          }

          &__Name {
            font-size: clamp(12px, vw-size-sp(28), 15px);
            @include responsive(md) {
              font-size: vw-size-pc(12);
            }
            @include responsive(xxl) {
              font-size: 12px;
            }
          }

          &__Email {
            font-size: clamp(12px, vw-size-sp(28), 15px);
            @include responsive(md) {
              font-size: vw-size-pc(12);
            }
            @include responsive(xxl) {
              font-size: 12px;
            }
          }
        }
      }

      .communityModalButtons {
        display: flex;
        flex-direction: column;
        row-gap: vw-size-sp(30);
        margin-top: vw-size-sp(45);
        @include responsive(md) {
          margin-top: vw-size-pc(30);
          row-gap: vw-size-pc(15);
        }
        @include responsive(xxl) {
          margin-top: 30px;
          row-gap: 15px;
        }
      }

      .communityButton {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        width: 100%;
        margin: 0;
        padding: vw-size-sp(30) vw-size-sp(15);
        font-size: clamp(10px, vw-size-sp(28), 15px);
        font-weight: 600;
        @include responsive(md) {
          width: vw-size-pc(280);
          padding: vw-size-pc(21) vw-size-pc(15);
          font-size: vw-size-pc(15);
        }
        @include responsive(xxl) {
          width: 280px;
          padding: 21px 15px;
          font-size: 15px;
        }
      }

      .communityButtonLeave {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }

      .communityButton__gray {
        @include responsive(md) {
        }
        @include responsive(xxl) {
        }
      }
    }
  }
}
