@use "global" as *;

.p-items {
  width: 100%;
  @include responsive(md) {
  }
  @include responsive(xxl) {
  }

  &.hidden {
    display: none;
  }
}

.p-items__list {
  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(var(--items-col-sp, 2), minmax(0, 1fr));
  gap: sp-size(60) sp-size(15);
  @include responsive(md) {
    grid-template-columns: repeat(var(--items-col-pc, 4), minmax(0, 1fr));
    gap: pc-size(60) pc-size(15);
  }
}

.p-items__more {
  margin-top: sp-size(90);
  margin-inline: auto;
  @include responsive(md) {
    margin-top: pc-size(90);
  }
}
