@use "global" as *;

.p-items {
  width: 100%;
  @include responsive(md) {
  }
  @include responsive(xxl) {
  }

  &.hidden {
    display: none;
  }

  &--all {
    .top-page & {
      order: var(--order-items, 0);
    }
  }

  &--sale {
    .top-page & {
      order: var(--order-sale, 0);
    }
  }

  &--category-list {
    .top-page & {
      order: var(--order-categoryList, 0);
    }
  }

  &.blog-list {
    .top-page & {
      order: var(--order-blog, 0);
    }
  }
}

.p-items__search {
  margin-block: min(vw-size-sp(45), 30px) min(vw-size-sp(60), 45px);
  @include responsive(md) {
    max-width: 600px;
    margin-block: vw-size-pc(30) vw-size-pc(45);
  }
  @include responsive(xxl) {
    margin-block: 30px 45px;
  }
}

.p-items__head {
  margin-bottom: min(#{vw-size-sp(54)}, 30px);
  @include responsive(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: vw-size-pc(15) vw-size-pc(30);
    margin-bottom: vw-size-pc(30);
  }
  @include responsive(xxl) {
    gap: 15px 30px;
    margin-bottom: 30px;
  }
}

.p-items__head-caption {
  margin-bottom: min(#{vw-size-sp(51)}, 27px);
  @include responsive(md) {
    flex-shrink: 0;
    max-width: 100%;
    margin-bottom: 0;
  }
  @include responsive(xxl) {
    margin-bottom: 0;
  }
}

.p-items__head-tab {
  @include responsive(md) {
    flex-shrink: 0;
    max-width: 100%;
  }
  @include responsive(xxl) {
  }

  &:has(> :nth-child(4)) {
    display: flex;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    border-radius: 0;
    @include responsive(md) {
      width: revert;
      margin-inline: revert;
      border-radius: calc(var(--radius) * 9999);
    }

    > * {
      flex-shrink: 0;
    }
  }
}

.p-items__list {
  display: grid;
  grid-template-columns: repeat(var(--items-col-sp, 2), minmax(0, 1fr));
  gap: min(vw-size-sp(90), 45px) vw-size-sp(18);
  @include responsive(md) {
    grid-template-columns: repeat(var(--items-col-pc, 3), minmax(0, 1fr));
    // gap: vw-size-pc(75) vw-size-pc(45);
    gap: vw-size-pc(75) max(calc(#{vw-size-pc(60)} - #{vw-size-pc(15)} * (var(--items-col-pc, 3) - 2)), vw-size-pc(15));
  }
  @include responsive(xxl) {
    // gap: 75px 45px;
    gap: 75px max(calc(60px - 15px * (var(--items-col-pc, 3) - 2)), 15px);
  }

  .horizontal & {
    --horozontal-items-cols: var(--items-col-sp, 2);
    --horozontal-items-col-gap: var(--items-col-gap, #{vw-size-sp(18)});

    overflow-x: auto;
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fill, minmax(#{sizeCalc(330, 690, "%")}, 1fr));
    // grid-auto-columns: minmax(sizeCalc(330, 690, "%"), 1fr);
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - (var(--horozontal-items-cols) - 1) * var(--horozontal-items-col-gap)) / var(--horozontal-items-cols)), 1fr));
    grid-auto-columns: minmax(calc((100% - (var(--horozontal-items-cols) - 1) * var(--horozontal-items-col-gap)) / var(--horozontal-items-cols)), 1fr);
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    padding-inline: vw-size-sp(30);
    scroll-padding-inline: vw-size-sp(30);

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari 対応 */
    }

    @include responsive(md) {
      --horozontal-items-cols: var(--items-col-pc, 3);
      // --horozontal-items-col-gap: var(--items-col-gap, #{vw-size-pc(45)});
      --horozontal-items-col-gap: max(calc(#{vw-size-pc(60)} - #{vw-size-pc(15)} * (var(--items-col-pc, 3) - 2)), #{vw-size-pc(15)});

      // grid-template-columns: repeat(
      //   auto-fill,
      //   minmax(
      //     calc(
      //       (100% - (var(--horozontal-items-cols) - 1) * var(--horozontal-items-col-gap)) / var(--horozontal-items-cols)
      //     ),
      //     1fr
      //   )
      // );
      // grid-auto-columns: minmax(
      //   calc(
      //     (100% - (var(--horozontal-items-cols) - 1) * var(--horozontal-items-col-gap)) / var(--horozontal-items-cols)
      //   ),
      //   1fr
      // );

      width: auto;
      padding-inline: 0;
      scroll-padding-inline: 0;
      margin-inline: 0;
    }
    @include responsive("2xl") {
      --horozontal-items-cols: var(--items-col-pc, 3);
      // --horozontal-items-col-gap: var(--items-col-gap, 45px);
      --horozontal-items-col-gap: max(calc(60px - 15px * (var(--items-col-pc, 3) - 2)), 15px);
    }
  }
}

.p-item__tabpanels {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  width: 100%;
  @include responsive(md) {
  }
  @include responsive(xxl) {
  }
}

.p-items__scrollable {
  position: relative;

  &[role="tabpanel"] {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  &[aria-hidden="true"],
  &[inert] {
    pointer-events: none;
    opacity: 0;
  }

  &[aria-hidden="false"] {
    z-index: 10;
  }
}

.p-items__arrow {
  display: none;
  @include responsive(md) {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    margin-block: auto;
    width: vw-size-pc(45);
    height: vw-size-pc(45);
    color: var(--main-text-color, #000);
    background: var(--main-bg-color, #fff);
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    scale: 0.9;
    transition: $transition;
    transition-property: opacity, scale;
  }
  @include responsive(xxl) {
    width: 45px;
    height: 45px;
  }

  &.is-show {
    opacity: 1;
    scale: 1;
    pointer-events: auto;
  }

  @media (any-hover: hover) {
    transition-property: opacity, scale, color, border-color;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--main-text-color, #000);
      transition: transform $transition;
      transform: scaleX(0);
      transform-origin: right center;
    }

    &:hover {
      color: var(--main-bg-color, #fff);
      border-color: var(--main-text-color, #000);

      &::after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  &::before {
    @include responsive(md) {
      content: "";
      width: 40%;
      height: 40%;
      background-color: currentColor;
    }
    @include responsive(xxl) {
    }
  }

  &.next {
    @include responsive(md) {
      right: 0;
      transform: translateX(50%);
    }

    &::before {
      @include responsive(md) {
        mask: inline("icon-arrow-right.svg") no-repeat center center / contain;
      }
      @include responsive(xxl) {
      }
    }
  }

  &.prev {
    @include responsive(md) {
      left: 0;
      transform: translateX(-50%);
    }

    &::before {
      @include responsive(md) {
        mask: inline("icon-arrow-right.svg") no-repeat center center / contain;
        transform: rotate(180deg);
      }
      @include responsive(xxl) {
      }
    }
  }
}

.p-items__more {
  margin-top: min(vw-size-sp(60), 45px);
  margin-inline: auto;
  @include responsive(md) {
    margin-top: vw-size-pc(90);
  }
  @include responsive(xxl) {
    margin-top: 90px;
  }
}

.p-items__link {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 1em;
  width: fit-content;
  margin-top: min(vw-size-sp(45), 36px);
  margin-left: auto;
  font-size: clamp(10px, vw-size-sp(24), 15px);
  @include responsive(md) {
    margin-top: vw-size-pc(36);
    font-size: max(vw-size-pc(15), 10px);
  }
  @include responsive(xxl) {
    margin-top: 36px;
    font-size: 15px;
  }

  @media (any-hover: hover) {
    .icon {
      transition: $transition;
      transition-property: color, border-color;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--main-text-color, #000);
        transition: transform $transition;
        transform: scaleX(0);
        transform-origin: right center;
      }
    }

    &:hover {
      .icon {
        color: var(--main-bg-color, #fff);
        border-color: var(--main-text-color, #000);
        &::after {
          transform: scaleX(1);
          transform-origin: left center;
        }
      }
    }
  }

  .icon {
    contain: paint;
    display: grid;
    place-items: center;
    margin-block: auto;
    width: min(vw-size-sp(54), 36px);
    height: min(vw-size-sp(54), 36px);
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    @include responsive(md) {
      width: vw-size-pc(36);
      height: vw-size-pc(36);
    }
    @include responsive(xxl) {
      width: 36px;
      height: 36px;
    }
    &::before {
      content: "";
      width: 40%;
      height: 40%;
      background-color: currentColor;
      mask: inline("icon-arrow-right.svg") no-repeat center center / contain;
    }
  }
}
