@use "global" as *;

.p-lnav {
  position: relative;
  z-index: 1;
  color: currentColor;
  @include responsive(md) {
  }
  @include responsive(xxl) {
  }

  &::before {
    content: "";
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
  }
}

.p-lnav__inner {
  @include responsive(md) {
    display: flex;
    gap: pc-size(9);
    padding-top: pc-size(15);
    padding-bottom: pc-size(15);
  }
  @include responsive(xxl) {
  }
}

.p-lnav__item {
  font-weight: 600;
  letter-spacing: 0.03em;
  @include responsive(md) {
    font-size: pc-size(12);
  }

  a {
    display: grid;
    place-items: center;
    padding: 0.6em 1.2em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-radius: 100vmax;

    @include responsive(md) {
      @media (any-hover: hover) {
        transition: $transition;
        transition-property: background-color, color;
        &:hover {
          color: var(--main-bg-color);
          background-color: var(--main-text-color);
        }
      }
    }
  }
}
