@use "sass:color";
@use "global" as *;

.p-mv {
  --slide-spacing: #{sp-size(30)};
  --slide-size: 30%;
  position: relative;
  overflow-x: clip;
  @include responsive(md) {
    --slide-spacing: #{pc-size(30)};
    margin-block: pc-size(30) pc-size(90);
  }

  &.no-slide {
    @include responsive(md) {
      margin-block: pc-size(30);
    }
  }
}

.p-mv__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  @include responsive(md) {
  }

  .p-mv.no-slide & {
    @include responsive(md) {
      justify-content: center;
      gap: var(--slide-spacing);
      // max-width: var(--frame-width-wide);
      // margin-inline: auto;
      margin-left: 0;
      padding-inline: var(--slide-spacing);
    }
  }
}

.p-mv__item {
  flex: 0 0 30%;
  min-width: 0;
  @include responsive(md) {
    padding-left: var(--slide-spacing);
  }

  .p-mv.no-slide & {
    @include responsive(md) {
      flex: 1;
      padding-left: 0;
      text-align: center;
    }
  }

  a {
    display: block;
    @include responsive(md) {
      @media (any-hover: hover) {
        img {
          transition: $transition;
          transition-property: opacity;
        }

        &:hover {
          img {
            opacity: 0.8;
          }
        }
      }
    }
  }

  img {
    aspect-ratio: 4/5;
    width: 100%;
    object-fit: cover;
    @include responsive(md) {
      // max-height: pc-size(600);
    }
    .p-mv.no-slide & {
      width: auto;
    }
  }
}

.p-mv__button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  width: sp-size(60);
  height: sp-size(60);
  margin-block: auto;
  color: #000;
  background-color: color.adjust(#fff, $alpha: -0.6);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  @include responsive(md) {
    width: pc-size(39);
    height: pc-size(39);

    @media (any-hover: hover) {
      &:hover {
        color: var(--key-contrast-color);
        background-color: var(--key-color);
      }
    }
  }

  &.prev {
    left: 0;
    @include responsive(md) {
      left: pc-size(42);
    }
  }

  &.next {
    right: 0;
    @include responsive(md) {
      right: pc-size(42);
    }
  }

  .icon {
    display: block;
    aspect-ratio: 1;
    width: 40%;
  }

  .p-mv.no-slide & {
    display: none;
  }
}

.p-mv__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: sp-size(30);
  @include responsive(md) {
    margin-top: pc-size(30);
  }

  .dot {
    // aspect-ratio: 1;
    width: sp-size(39);
    height: 3px;
    background-color: $gray;
    border-radius: 100vmax;
    transition: $transition;
    transition-property: background-color;
    @include responsive(md) {
      width: pc-size(39);
    }

    &:not(.dot--selected) {
      @include responsive(md) {
        @media (any-hover: hover) {
          &:hover {
            background-color: color.adjust($gray, $blackness: 20%);
          }
        }
      }
    }
  }
  .dot--selected {
    background-color: var(--key-color);
  }

  .p-mv.no-slide & {
    display: none;
  }
}
