@use "global" as *;

.p-nav {
  @include responsive(md) {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) auto;
    column-gap: min(vw-size-pc(30), 30px);
  }
  @include responsive(xxl) {
  }
}

.p-nav__list {
  @include responsive(md) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: min(vw-size-pc(30), 30px);
  }
  @include responsive(xxl) {
  }
}

.p-nav__item {
  @include responsive(md) {
    font-size: min(vw-size-pc(12), 12px);
    letter-spacing: 0.03em;
  }
  @include responsive(xxl) {
  }

  a {
    display: block;
    @include responsive(md) {
    }
    @include responsive(xxl) {
    }
  }
}

.p-nav__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  @include responsive(md) {
    column-gap: min(vw-size-pc(24), 24px);
  }
  @include responsive(xxl) {
  }
}

.p-nav__icon {
  @include responsive(md) {
    width: min(vw-size-pc(18), 18px);
    height: min(vw-size-pc(18), 18px);
  }
  @include responsive(xxl) {
  }

  .icon {
    display: block;
    width: 100%;
    height: 100%;
    @include responsive(md) {
    }
    @include responsive(xxl) {
    }
  }
}
