@use "global" as *;

.p-nav {
  @include responsive(md) {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) auto;
    column-gap: pc-size(30);
  }
}

.p-nav__list {
  @include responsive(md) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: pc-size(30);
  }
}

.p-nav__item {
  @include responsive(md) {
    font-size: pc-size(12);
    letter-spacing: 0.03em;
  }

  a {
    display: block;
    @include responsive(md) {
      @media (any-hover: hover) {
        position: relative;

        &::before {
          content: "";
          opacity: 0;
          transform: translateY(50%) scale(0.8);
          position: absolute;
          top: calc(100% + 0.75em);
          left: 0;
          right: 0;
          margin-inline: auto;
          aspect-ratio: 1;
          width: 0.5em;
          background-color: currentColor;
          border-radius: 50%;
          transition: $transition;
          transition-property: transform, opacity;
        }

        &:hover {
          &::before {
            transform: none;
            opacity: 1;
          }
        }
      }
    }
    @include responsive(xxl) {
    }
  }
}

.p-nav__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  @include responsive(md) {
    column-gap: pc-size(24);
  }
  @include responsive(xxl) {
  }
}

.p-nav__icon {
  @include responsive(md) {
    width: pc-size(18);
    height: pc-size(18);
  }
  @include responsive(xxl) {
  }

  .icon {
    display: block;
    width: 100%;
    height: 100%;
    @include responsive(md) {
      @media (any-hover: hover) {
        transition: $transition;
        transition-property: opacity;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    @include responsive(xxl) {
    }
  }

  &.cart {
    position: relative;

    .cart-qty {
      --aspect-ratio: 1/1;
      aspect-ratio: 1/1;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      translate: 55% -55%;
      display: grid;
      place-items: center;
      padding: 0.3em;
      min-width: 2em;
      text-align: center;
      white-space: nowrap;
      font-size: sp-size(16);
      font-weight: 700;
      color: var(--main-bg-color);
      background: var(--main-text-color);
      border-radius: 50%;

      @include responsive(md) {
        font-size: pc-size(9);
      }
    }
  }
}
