@use "global" as *;

.p-notice {
  margin-block: sp-size(60);
  font-size: sp-size(24);
  line-height: 1.6;
  font-weight: 600;
  @include responsive(md) {
    margin-block: pc-size(60);
    font-size: pc-size(15);
  }

  a {
    border-bottom: 1px solid transparent;
    @include responsive(md) {
    }
    @include responsive(xxl) {
    }

    @media (any-hover: hover) {
      transition: $transition;
      transition-property: border-bottom-color;
      &:hover {
        border-bottom-color: currentColor;
      }
    }
  }
}

.p-notice__inner {
  padding: sp-size(30);
  border-bottom: 1px solid #000;
  @include responsive(md) {
    padding: pc-size(15);
  }
}
