@use "global" as *;

.p-top {
  @include responsive(md) {
  }
}

.p-top__contents {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  row-gap: sp-size(90);
  @include responsive(md) {
    margin-top: pc-size(60);
    row-gap: pc-size(90);
  }
}
